 # 数据分析
 ## 1.数据收集
 ## 2.数据清洗
 ## 3.数据分析
 ## 4.数据可视化

数据的导入：1.导入csv文件 2.导入json文件

In [20]:
import os

import numpy as np

os.chdir(r'/')

In [31]:
import pandas as pd

#df=pd.read_csv('data/employees.csv')
df=pd.read_csv('data/employees.csv')

df['salary'].mean()
df=df.head()
df.to_csv('data/new.csv')

In [33]:
#json
df=pd.read_json("data/data1.json")
df

   id name  age
0   1   张三   25
1   2   李四   30
2   3   王五   28

In [40]:
import json
df=pd.read_json("data/test.json")

with open("data/test.json",'r',encoding='utf-8') as f:
    data=json.load(f)
    print(type(data))

df=pd.DataFrame(data['users'])
df

<class 'dict'>

   id name  age                 email  is_active   join_date
0   1   张三   28  zhangsan@example.com       True  2022-03-15
1   2   李四   35      lisi@example.com      False  2021-11-02
2   3   王五   24    wangwu@example.com       True  2023-01-20

In [80]:
import numpy as np

#缺失值处理

#缺失值
"""
nan:不是一个数字 1/0
None:python原生
pd.NA:数字不存在

"""
s=pd.Series([1,2,np.nan,None,pd.NA])
s
#查看缺失值
#print(s.isna())
#print(s.isnull())

df=pd.DataFrame([[1,2,np.nan],[3,4,5],[None,2,3]],columns=['第一列','第二列','第三列'])
#df.isnull().sum()


#缺失值处理
#1.剔除缺失值
s.dropna()
df.dropna(how='all')#剔除一整条记录 how='':指定提出的规则，全部为缺失值时删除
df.dropna(subset=['第一列'])#指定哪一列出现缺失值时删除




#填充缺失值
df=pd.read_csv('data/weather_withna.csv')


df.isna().sum()

#使用字典填充
df.fillna({'temp_max':20})

#使用统计值填充
df=df.fillna(df[['temp_max','temp_min','wind']].mean()).tail()

df.ffill().tail()#使用前面相邻的值填充

df.bfill().tail()#使用后面的值填充

df

            date  precipitation   temp_max  temp_min      wind weather
1456  2015-12-27            NaN  15.851468  7.877202  3.242055     NaN
1457  2015-12-28            NaN  15.851468  7.877202  3.242055     NaN
1458  2015-12-29            NaN  15.851468  7.877202  3.242055     NaN
1459  2015-12-30            NaN  15.851468  7.877202  3.242055     NaN
1460  2015-12-31           20.6  12.200000  5.000000  3.800000    rain