 # 数据分析
 ## 1.数据收集
 ## 2.数据清洗
 ## 3.数据分析
 ## 4.数据可视化

数据的导入：1.导入csv文件 2.导入json文件

In [39]:
from pathlib import Path
import pandas as pd

DATA = Path(r'C:\Users\21471\PycharmProjects\JupyterProject\data')
df = pd.read_csv(DATA / 'employees.csv')
df.head()

,employee_id,first_name,last_name,email,phone_number,job_id,salary,commission_pct,manager_id,department_id
0,100,Steven,King,SKING,515.123.4567,AD_PRES,24000.0,NaN,NaN,90.0
1,101,N_ann,Kochhar,NKOCHHAR,515.123.4568,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,IT_PROG,6000.0,NaN,103.0,60.0

In [40]:
#json
df=pd.read_json(DATA/"data1.json")
df

   id name  age
0   1   张三   25
1   2   李四   30
2   3   王五   28

In [42]:
import json
df=pd.read_json(DATA/"test.json")

with open(DATA/"test.json",'r',encoding='utf-8') as f:
    data=json.load(f)
    print(type(data))

df=pd.DataFrame(data['users'])
df

<class 'dict'>

   id name  age                 email  is_active   join_date
0   1   张三   28  zhangsan@example.com       True  2022-03-15
1   2   李四   35      lisi@example.com      False  2021-11-02
2   3   王五   24    wangwu@example.com       True  2023-01-20

In [80]:
import numpy as np

#缺失值处理

#缺失值
"""
nan:不是一个数字 1/0
None:python原生
pd.NA:数字不存在

"""
s=pd.Series([1,2,np.nan,None,pd.NA])
s
#查看缺失值
#print(s.isna())
#print(s.isnull())

df=pd.DataFrame([[1,2,np.nan],[3,4,5],[None,2,3]],columns=['第一列','第二列','第三列'])
#df.isnull().sum()


#缺失值处理
#1.剔除缺失值
s.dropna()
df.dropna(how='all')#剔除一整条记录 how='':指定提出的规则，全部为缺失值时删除
df.dropna(subset=['第一列'])#指定哪一列出现缺失值时删除




#填充缺失值
df=pd.read_csv(DATA/'weather_withna.csv')


df.isna().sum()

#使用字典填充
df.fillna({'temp_max':20})

#使用统计值填充
df=df.fillna(df[['temp_max','temp_min','wind']].mean()).tail()

df.ffill().tail()#使用前面相邻的值填充

df.bfill().tail()#使用后面的值填充

df

            date  precipitation   temp_max  temp_min      wind weather
1456  2015-12-27            NaN  15.851468  7.877202  3.242055     NaN
1457  2015-12-28            NaN  15.851468  7.877202  3.242055     NaN
1458  2015-12-29            NaN  15.851468  7.877202  3.242055     NaN
1459  2015-12-30            NaN  15.851468  7.877202  3.242055     NaN
1460  2015-12-31           20.6  12.200000  5.000000  3.800000    rain


### 查看完全重复的行（所有列都一模一样）
df.duplicated()          # 返回 True/False 系列
df.duplicated().sum()    # 看看一共有多少行完全重复

### 指定某些列看是否重复（最常用！）
df.duplicated(subset=['姓名'])           # 只看姓名是否重复
df.duplicated(subset=['身份证号'])       # 查重神器
df.duplicated(subset=['订单号', '日期'])

### 删除完全重复的行（保留第一次出现的）
df.drop_duplicates(inplace=True)

###只根据某些列去重（强烈推荐这样用）
df.drop_duplicates(subset=['姓名'], keep='first', inplace=True)   # 保留第一次出现
df.drop_duplicates(subset=['身份证号'], keep='last', inplace=True) # 保留最后一次
### 'first'  → 保留第一次出现（默认）
### 'last'   → 保留最后一次出现
### False    → 全部删除，连第一次也删（极少用）

In [48]:
#数据类型转换
df=pd.read_csv(DATA/"sleep.csv")

df.dtypes

person_id                    int64
gender                      object
age                          int64
occupation                  object
sleep_duration             float64
sleep_quality              float64
physical_activity_level      int64
stress_level                 int64
bmi_category                object
blood_pressure              object
heart_rate                   int64
daily_steps                  int64
sleep_disorder              object
dtype: object

In [55]:
#转换每一列的数据类型
df['age']=df['age'].astype('int16')

df.dtypes

df['gender']=df['gender'].astype('category')
df.dtypes

person_id                     int64
gender                     category
age                           int16
occupation                   object
sleep_duration              float64
sleep_quality               float64
physical_activity_level       int64
stress_level                  int64
bmi_category                 object
blood_pressure               object
heart_rate                    int64
daily_steps                   int64
sleep_disorder               object
dtype: object

In [58]:
#给某一个列进行映射
df['is_male']=df.gender.map({"Male":True, "Female":False})
df

,person_id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder,is_male
0,1,Male,29,Manual Labor,7.4,7.0,41,7,Obese,124/70,91,8539,NaN,True
1,2,Female,43,Retired,4.2,4.9,41,5,Obese,131/86,81,18754,NaN,False
2,3,Male,44,Retired,6.1,6.0,107,4,Underweight,122/70,81,2857,NaN,True
3,4,Male,29,Office Worker,8.3,10.0,20,10,Obese,124/72,55,6886,NaN,True
4,5,Male,67,Retired,9.1,9.5,19,4,Overweight,133/78,97,14945,Insomnia,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,Female,36,Student,4.5,7.9,73,7,Normal,118/66,64,14497,Sleep Apnea,False
396,397,Female,45,Manual Labor,6.0,6.1,72,8,Obese,132/80,65,12848,Insomnia,False
397,398,Female,30,Student,5.3,6.5,58,10,Obese,125/76,66,15255,Insomnia,False
398,399,Female,41,Retired,11.0,9.1,73,9,Obese,130/75,75,6567,Sleep Apnea,False
399,400,Male,37,Retired,5.8,7.0,41,6,Normal,118/70,51,18079,NaN,True

## 数据变形

In [69]:
data={
    "ID":[1,2],
    "name":['alice','bob'],
    'Math':[90,85],
    'English':[88,92],
    'Chinese':[95,89]

}

df=pd.DataFrame(data)
df.T#行列转置

df#该表为宽表


"""
:param1 数据
id_vars:不变的列
var_name :
value_name:值的名称
"""
df1=pd.melt(df,id_vars=['ID','name'],var_name='课目',value_name='分数').sort_values(by='name')#将宽表转换为长表

SyntaxError: invalid character '“' (U+201C) (3108073736.py, line 24)

In [101]:
data={
    "ID":[1,2],
    "name":['alice Smith','bob Smith'],
    'Math':[90,85],
    'English':[88,92],
    'Chinese':[95,89]

}
df=pd.DataFrame(data)
df

"""
分裂name:姓+名
pandas默认引用类型为Object，要将其转换为str才能进行字符串操作

"""

#参数expand：扩展成两列
df[['first','last']]=df['name'].str.split(" ",expand=True)
df

sleep=pd.read_csv(DATA/"sleep.csv")

sleep.tail()


sleep[['high','low']]=sleep.blood_pressure.str.split('/',expand=True)

sleep


sleep['high']=sleep['high'].astype("int16")
sleep['low']=sleep['low'].astype("int16")

sleep.high.describe()

count    400.000000
mean     122.190000
std        8.238543
min      109.000000
25%      115.000000
50%      122.000000
75%      128.000000
max      145.000000
Name: high, dtype: float64

In [108]:
#数据分箱
"""
数据分箱:pd.cut(x,bins,labels)

x:数据
bins: bins=n 平均分成n段区间,起始值和结束值分别是最大值和最小值
"""

df=pd.read_csv(DATA/"employees.csv")
df1=df.head(10)[['employee_id','salary']]
df1

   employee_id   salary
0          100  24000.0
1          101  17000.0
2          102  17000.0
3          103   9000.0
4          104   6000.0
5          105   4800.0
6          106   4800.0
7          107   4200.0
8          108  12000.0
9          109   9000.0

In [122]:
pd.cut(df1['salary'],bins=3).value_counts()

df1['收入水平']=pd.cut(df1['salary'],bins=[0,10000,20000,30000],
labels=['低','中','高'])

df1

#平均分，每一段人数尽可能相同
pd.qcut(df1['salary'],q=3).value_counts()

salary
(12000.0, 24000.0]    4
(4199.999, 6000.0]    3
(6000.0, 12000.0]     3
Name: count, dtype: int64

In [143]:
sleep=pd.read_csv(DATA/'sleep.csv')
sleep.head()

#对睡眠质量进行分箱,分为差，中，好三段

sleep["睡眠质量"]=pd.cut(sleep['sleep_quality'],bins=3
       ,labels=['差','中','好'])

sleep['gender']=sleep['gender'].astype('category')

sleep.dtypes

person_id                     int64
gender                     category
age                           int64
occupation                   object
sleep_duration              float64
sleep_quality               float64
physical_activity_level       int64
stress_level                  int64
bmi_category                 object
blood_pressure               object
heart_rate                    int64
daily_steps                   int64
sleep_disorder               object
睡眠质量                       category
dtype: object

In [144]:
#df.rename(),df.set_index df.reset_index

时间数据的处理

In [154]:
#时间戳
d=pd.Timestamp('2025-11-26 19:17')
d1=pd.Timestamp('2025-11-26 12:17')

print(type(d))

print("年:",d.year)
print("月:",d.month)
print("日:",d.day)
print("季度：",d.quarter)

print(d.is_month_end)

#常用方法
print("星期几:",d.day_name())

print("转换为天：",d.to_period('D'))
print("转换为天：",d1.to_period('D'))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
年: 2025
月: 11
日: 26
季度： 4
False
星期几: Wednesday
转换为天： 2025-11-26
转换为天： 2025-11-26

In [178]:
#数据类型转换 str->Timestamp
a=pd.to_datetime("2025-11-26 19:17")
type(a)

print(a.day_name())

#读入csv
#方法二：参数解析日期
df=pd.read_csv(DATA/'weather.csv',parse_dates=[ 'date'])
#方法一
# df['datetime']=pd.to_datetime(df['date'])
# df['星期']=df['datetime'].dt.day_name()

df['date'].dt.day_name()

Wednesday

0          Sunday
1          Monday
2         Tuesday
3       Wednesday
4        Thursday
          ...
1456       Sunday
1457       Monday
1458      Tuesday
1459    Wednesday
1460     Thursday
Name: date, Length: 1461, dtype: object

In [180]:
#日期数据作为索引

# df.set_index('date',inplace=True)#inplace:设置原来的df
#
# df

#使用切片获取一段时间内的数据
df["2012-01-01":"2012-01-03"]

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain

In [184]:
#时间间隔
df=pd.read_csv(DATA/'weather.csv',parse_dates=['date'])
df['delta']=df['date']-df['date'].iloc[0]
df.set_index('delta',inplace=True)

In [190]:
df['2 days':'10 days']


# 加入时间序列  freq:控制频率  periods:控制个数
days=pd.date_range('2025-10-11','2025-11-11',freq='W')
days

DatetimeIndex(['2025-10-12', '2025-10-19', '2025-10-26', '2025-11-02',
               '2025-11-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [191]:
df=pd.read_csv(DATA/'weather.csv',parse_dates=[ 'date'])

df.set_index('date',inplace=True)

In [197]:
df

#重采样，按照年来重新计算
df[['temp_max','temp_min']].resample('YE').mean()

             temp_max  temp_min
date
2012-12-31  15.276776  7.289617
2013-12-31  16.058904  8.153973
2014-12-31  16.995890  8.662466
2015-12-31  17.427945  8.835616

分组聚合

In [215]:
"""
分组聚合
df.groupby('分组依据')['聚合的字段'].聚合函数
"""

df=pd.read_csv(DATA/"employees.csv")
df.tail()
df=df.dropna(subset=['department_id'])
df['department_id']=df['department_id'].astype('int32')

df
#不同部门的薪资平均值
df2=df.groupby('department_id')[['salary']].mean()

df2['salary']=df2['salary'].round(2)
df2=df2.reset_index()
df2.sort_values('salary',ascending=False,inplace=True)
df2

    department_id    salary
8              90  19333.33
10            110  10150.00
6              70  10000.00
1              20   9500.00
7              80   8955.88
9             100   8600.00
3              40   6500.00
5              60   5760.00
0              10   4400.00
2              30   4150.00
4              50   3475.56