In [4]:
"""
企鹅体重分析
目标：1.男性企鹅以及女性企鹅体重对比
    2.三种企鹅的体重有什么显著差异
"""
from pathlib import Path
DATA=Path(r"C:\Users\21471\PycharmProjects\JupyterProject\data")

In [18]:
import numpy as np
import pandas as pd


#导入数据
penguin=pd.read_csv(DATA/"penguins.csv")

penguin.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [29]:
#数据清洗
penguin.isna().sum()
penguin.dropna(inplace=True)
penguin['is_male']=penguin['sex'].map({'Male':True,'Female':False})

penguin.groupby('is_male')['body_mass_g'].mean().round(2)

is_male
False    3862.27
True     4545.68
Name: body_mass_g, dtype: float64

In [31]:
penguin.groupby('species')['body_mass_g'].describe().round(2)

           count     mean     std     min     25%     50%     75%     max
species
Adelie     146.0  3706.16  458.62  2850.0  3362.5  3700.0  4000.0  4775.0
Chinstrap   68.0  3733.09  384.34  2700.0  3487.5  3700.0  3950.0  4800.0
Gentoo     119.0  5092.44  501.48  3950.0  4700.0  5050.0  5500.0  6300.0

In [36]:
#数据分箱，把体重分为低中高三个阶段

penguin['mess_level']=pd.cut(penguin['body_mass_g'],bins=3,labels=['低','中','高'])
penguin['mess_level'].value_counts()

mess_level
低    150
中    128
高     55
Name: count, dtype: int64

In [37]:
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,is_male,mess_level
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,True,低
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,False,低
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,False,低
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,False,低
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,True,低
...,...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,False,中
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,False,中
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,True,高
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,False,高
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,True,高